body{
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

ul{
    padding: 0;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.dark{
    padding: 15px;
    background-color: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header #highlight, header #current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* Showcase */
#showcase{
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

/* Newsletter */
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#newsletter .button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

/* Boxes */
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
}

#boxes .box h3{
    margin-top: 10px;
}

#boxes .box p{
    font-size: 14px;
    line-height: 1.5;
}

/* Clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Article */
article#main-col{
    float: left;
    width: 65%;
    margin-top: 10px;
    padding: 10px;
}

/* Sidebar */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
    padding: 10px;
    background: #35424a;
    color: #ffffff;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 4px;
    height: 25px;
}

/* Service */
ul#services li{
    list-style: none;
    padding: 20px; 
    border: #cccccc 1px solid;
    margin-bottom: 5px;
    background: #e4e4e4;
}

/* Footer */
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}

/* Media Queries */
@media(max-width: 768px){   
    header #branding, header nav, #newsletter h1, #newsletter form, article#main-col, aside#sidebar, #boxes .box{
        float: none;
        text-align: center;
        width: 100%;
    }   
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width: 100%;
        margin-bottom: 5px;
    }

    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }

}
